---
layout: page
title: Portfolio
---
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12">
        <div class="btn-group btn-group-toggle justify-content-center d-flex filter-buttons">
          <label class="btn btn-sm btn-primary active">
            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
          </label>
          {% assign unique_tags = '' | split: '' %}
          {% for project in site.projects %}
            {% for tag in project.tags %}
              {% unless unique_tags contains tag %}
                {% assign unique_tags = unique_tags | push: tag %}
              {% endunless %}
            {% endfor %}
          {% endfor %}
          {% for tag in unique_tags %}
            <label class="btn btn-sm btn-primary">
              <input type="radio" name="shuffle-filter" value="{{ tag }}" />{{ tag }}
            </label>
          {% endfor %}
        </div>        
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for project in site.projects %}
      <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups='["{{ project.tags | join: '","' }}"]'>
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}{{ project.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ site.baseurl }}{{ project.url }}">view project</a>
            </div>
          </div>
        </div>
        <div class="portfolio-title text-center">
          <h5>{{ project.title }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->


