{% if site.projects %}
<!-- portfolio -->
<section class="section"  id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for project in site.projects %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4 shuffle-item"> <!-- Adjusted column classes here -->
        <div class="position-relative rounded hover-wrapper">
          <img src="{{ site.baseurl }}{{ project.image }}" alt="portfolio-image" class="img-fluid rounded w-100 d-block">
          <div class="hover-overlay">
            <div class="hover-content">
              <a class="btn btn-light btn-sm" href="{{ site.baseurl }}{{ project.url }}">view project</a>
            </div>
          </div>
        </div>
        <div class="portfolio-title text-center" style="margin-top: 10px;"> <!-- Added custom margin here -->
          <h5>{{ project.title }}</h5>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}


