{% if site.data.settings.skills %}
<!-- skills -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">{{ site.data.settings.skills-title }}</h2>
      </div>
      {% for skill in site.data.settings.skills %}
      <div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
        <div class="card shadow text-center">
          <div class="position-relative rounded-top progress-wrapper">
            <div class="circular-progress-wrapper" data-toggle="tooltip" data-placement="top" title="{{ skill.description }}">
              <div id="circle-{{ forloop.index }}" class="circular-progress"></div>
            </div>
          </div>
          <div class="card-footer bg-white">
            <h4 class="card-title">{{ skill.name }}</h4>
          </div>
        </div>
      </div>
      <script>
        Circles.create({
          id: 'circle-{{ forloop.index }}',
          radius: 60,
          value: {{ skill.value }},
          maxValue: 100,
          width: 10,
          text: function(value) { return value + '%'; },
          colors: ['#eee', '{{ skill.color }}'],
          duration: 400,
        });
      </script>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /skills -->
{% endif %}
