---
layout: compress
---
<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% include header.html %}

  {{ content }}

  {% include contact-section.html %}

  {% include footer.html %}

  <!-- External JavaScript files -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.3.0/shuffle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>

<!-- Custom skills script -->
<script src="{{ '/assets/js/skills.js' | relative_url }}"></script>

{% if page.layout == "page" and page.title == "Portfolio" %}
<script src="{{ '/assets/js/portfolio-filter.js' | relative_url }}"></script>
{% endif %}
<script src="{{ '/assets/js/remove-duplicates.js' | relative_url }}"></script>

</body>

</html>
